.react-chatbot-kit-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
  align-items: center;
}

.react-chatbot-kit-user-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12.5px;
  background-color: #3d4e8d;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.react-chatbot-kit-user-avatar-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}
.react-chatbot-kit-user-avatar {
  z-index:1;
}


.react-chatbot-kit-user-chat-message {
  font-size: 15px!important;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal!important;
  background-color: #0B93F6!important;
  padding: 10px 20px;
  border-radius: 25px;
  /*font-size: 0.9rem;*/
  color: white;
  /*font-weight: medium;*/
  position: relative;
  text-align: left;
}

.react-chatbot-kit-user-chat-message::before {
  content: "";
  position:absolute;
  bottom:-2px;
  height:50%;
  right:-7px;
  border-right:20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  transform:translate(0, -2px);
}
.react-chatbot-kit-user-chat-message::after {
  content: "";
  position:absolute;
  bottom:-2px;
  height:50%;
  right:-56px;
  width:26px;
  background:white;
  border-bottom-left-radius: 10px;
  transform:translate(-30px, -2px);
}

.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #f1f1f1;
  position: absolute;
  right: -7px;
  top: 13px;
}
